.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #333;
}

.search-input {
  border: #333;
  margin-bottom: 15px;
}
.inp{
  border: #000000;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.search-input input {
  width: 30%;
  height: auto;
  margin: 20px;
  padding: 5px; /* Adjust the padding to change the input size */
  box-sizing: border-box;
  border: #000000;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: #fff;
}
